body{
    background-image: linear-gradient(to top, gray, black);
    background-repeat: no-repeat;
    height: 100vh;
}




#NOME{
    font-family: People Book;
    font-size: 110px;
    color: white;
    text-align: center;
}